namespace:
  create: true
  name: simple-web

replicaCount: 1

image:
  repository: nginx
  tag: "1.27-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

content:
  title: "Hello GitOps World"
  body: "Edit values.yaml, commit, ArgoCD sync, page changes. >>>>> change number 1"
